<div class="modal" fadeIn>
  <div class="content_titulo">
    <h3>Registro de horas</h3>
    <span (click)="hideModal()">x</span>
  </div>
  <form [formGroup]="formGroup">
    <label name="nombre">Nombre</label>
    <br>
    <input type="text" 
    autocomplete="off"
    placeholder="nombre..." 
    formControlName="nombre">
    <br>
    <label name="hora">Hora</label>
    <br>
    <input formControlName="hora"
     type="button" 
     (click)="mostrarHoras()"
     autocomplete="off"
     >
    <br>

    <div class="modalGeneric modalHora" *ngIf="modalHoras">
      <div class="modalHoras">
        <div>     
          <h3>Selección de Horas</h3>
         <span (click)="hideModalHoras()">x</span>
       </div>
       <ul class="listaHoras">
         <li *ngFor="let hora of listaHora" (click)="SeleccionHora($event.target)">{{(hora.indexOf('.') > 0) ? hora.slice(0 ,hora.length-2) + ':30' : hora+':00'}}</li>
       </ul>
      </div>
    </div>

    <label name="servicio">Servicios</label>
    <br>
    <input formControlName="servicio" type="button" (click)="mostrarServicios()">
    <br>

    <div class="modalGeneric modalHora" *ngIf="modalServicios">
      <div class="modalHoras modalServicio">
        <div>     
          <h3>Selección de Horas</h3>
         <span (click)="hideModalServicios()">x</span>
       </div>
       <ul class="listaHoras ulServicios">
         <li *ngFor="let servicio of lista" (click)="SeleccionServicio($event.target)">{{servicio}}</li>
       </ul>
      </div>
    </div>

    <label name="telefono">Telefono</label>
    <br>
    <input type="text" 
    placeholder="telefono..." 
    formControlName="telefono"
    autocomplete="off"
    >
    <br>
    <button class="submit" (click)="enviarDatos()">Registrar Hora</button>
  </form>

  <div class=" success error" *ngIf="horaDisponible === 'Hora no se encuentra Disponible.' || horaDisponible === 'El servicio es obligatorio'">
    <p>{{horaDisponible}}</p>
  </div>
</div>