.calendario{

    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    gap: 1%;
    justify-content: center;
    margin-left: -8%;


    .dias{
        display: flex;
        flex-flow: column;
        border: 1px solid back;
        width: 38%;
        height: 120px;
        box-shadow: 0px 0px 5px black;
        margin-bottom: 15px;
        padding: 2px;
        overflow: auto;
    
        .diaSemana{
        display: flex;
        justify-content: center;
        box-shadow: 0px 1px 1px purple;
        margin-bottom: 5px;
        font-size: 78%;
        }

        .clientes{
            margin-bottom: 5px;
            box-shadow: 0px 1px 0px black;
            padding: 5px;
            padding-left: 10px; 

            .textoAgenda{
              font-size: 10px;
              text-shadow: 0px 0px 1px black;
            }
        }

    }

}

.boxTitulo{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-top: 20px;
    justify-content: center;
    
}

.disabled{
    background-color: #ccc;
}


app-modal-register{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0px;
    height: 100%;
    background: black;
    opacity: 0.9;
    z-index: 1;
    justify-content: center;
}


