

        <div class="boxTitulo">
            <button *ngIf="mesNumber !== mesAgenda" class="buttonNextPrev" (click)="dateNext(0)" ><</button>    
             <h3>{{this.mes.toUpperCase()}}</h3> 
            <button *ngIf="mesNumber === mesAgenda" class="buttonNextPrev"(click)="dateNext(+1)">></button>
            <h4 *ngIf="rolUsuario === 'admin'" class="montoTotal"> Total $ {{sumaValorMes}}.000</h4>
        </div>

<div class="calendario">
    <div class="contenidoAgenda" *ngFor="let diaAgenda of dias">
        <div class="dias" 
        [class.ocupado]="diaAgenda.dia < day && mesNumber === mesAgenda
        || diaAgenda.diaName === 'domingo'" 
        (click)="modalAgenda(diaAgenda.dia , mesAgenda , diaAgenda.diaName)">
                
                <div class="diaSemana">{{diaAgenda.diaName}}</div>
                <p>{{diaAgenda.dia}}</p>
        </div>
    </div>
</div>

<app-detalles *ngIf="showModalDetalle"
[dia]="dia"
(detalleComponent)="detalleComponents($event)"
></app-detalles> 

<app-registrar-usuario 
*ngIf="this.rolUsuario === ''"
(registroExitoso)="registroExitoso($event)"
></app-registrar-usuario>
<div class="btnInicio" *ngIf="this.rolUsuario === ''">
    <button (click)="navigateInicio()"> Ir al Inicio </button>
</div>
