

        <div class="boxTitulo">
            <button class="buttonNextPrev" (click)="dateNext(0)" ><</button>    
             <h3>{{this.mes.toUpperCase()}}</h3> 
            <button class="buttonNextPrev" (click)="dateNext(+1)">></button>
        </div>

<div class="calendario">
    <div class="contenidoAgenda" *ngFor="let dia of dias">
        <div class="dias" [class.ocupado]="dia.dia < day" (click)="modalAgenda(dia.dia , mesAgenda)">
                <div class="diaSemana">{{dia.diaName}}</div>
                <p>{{dia.dia}}</p>
        </div>
    </div>
</div>

<app-detalles *ngIf="showModalDetalle"
[dia]="dia"
(detalleComponent)="detalleComponents($event)"
></app-detalles> 
