

        <div class="boxTitulo">
            <h3>{{this.mes.toUpperCase()}}</h3>
        </div>

<div class="calendario">
    <div class="contenidoAgenda" *ngFor="let dia of dias">
        <div class="dias" [class.disabled]="dia.dia < day ">
                <div class="diaSemana">{{dia.diaSemana}} - {{dia.dia}}</div>
                <ng-container *ngFor="let cliente of dataAgenda">
                    <div  *ngIf="cliente.dia == dia.dia" class="clientes">
                        <p class="textoAgenda"> {{cliente.nombre}} - {{cliente.servicio}} <br> {{cliente.hora}}hrs - {{cliente.tramo}}hrs</p>
                         <app-cancelar-hora [dia]="cliente.dia" [telefono]="cliente.telefono" [nombre]="cliente.nombre"></app-cancelar-hora>
                    </div>
                </ng-container>
                <p *ngIf="cargandoData"> Cargando...</p>
        </div>
        <button 
        [class.none]="dia.dia < day " 
        (click)="modalRegister(dia.dia)"
        >AGENDAR</button>
    </div>
    <app-modal-register *ngIf="modalRegisters" [dia]="selectDia" (registerModal)="hideModalRegister($event)"></app-modal-register>
     
</div>