<div class="registro">
    <form [formGroup]="formLogin">
        <label name="nombre">Nombre:</label>
        <input 
        type="text" placeholder="Usuario...."
        id="usuario"
        name="usuario"
        formControlName="usuario"
        />

        <label name="clave">Contraseña:</label>
        <input type="password" placeholder="contraseña...."
        formControlName="clave" />
        <input type="submit" value="Iniciar" (click)="login()">
        <p *ngIf="msgError" class="msgError">{{msgError}}</p>
    </form>

</div>
