<div class="registro">
    <form [formGroup]="formRegister">
        <label name="alias">Alias:</label>
        <input formControlName="nombre" type="text" placeholder="Alias...." />

        <label name="correo">Correo:</label>
        <input formControlName="correo" type="text" placeholder="correo...." />

        <label name="Clave">Clave:</label>
        <input formControlName="password" type="password" placeholder="Contraseña...."  />

        <label name="Clave2">Repetir Clave:</label>
        <input formControlName="password2" type="password" placeholder="Contraseña...."  />

        <label name="telefono">Telefono:</label>
        <input formControlName="telefono" type="text" placeholder="Telefono...." />

        <label name="direccion">Dirección:</label>
        <input formControlName="direccion" type="text" placeholder="direccion...." />

        <input type="submit" value="Registrar" (click)="enviar()">
        <p class="errorMessage" *ngIf="messageError">{{messageError}}</p>
    </form>
</div>
