<div class="registro">
    <form [formGroup]="formRegister">
        <label name="nombre">Nombre:</label>
        <input formControlName="nombre" type="text" placeholder="Nombre...." />

        <label name="correo">Correo:</label>
        <input formControlName="correo" type="text" placeholder="correo...." />

        <label name="Clave">Clave:</label>
        <input formControlName="password" type="password" placeholder="Contraseña...."  />

        <label name="telefono">Telefono:</label>
        <input formControlName="telefono" type="text" placeholder="Telefono...." />

        <label name="direccion">Dirección:</label>
        <input formControlName="direccion" type="text" placeholder="direccion...." />

        <input type="submit" value="Registrar" (click)="enviar()">
        
        <p *ngIf="messageError" class="errorMessage">{{messageError}}</p>
        <p *ngIf="messageExito">{{messageError}}</p>
    </form>

</div>
