.registro{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;


    form{
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 55vh;
    gap: 10px;
    }
}

.errorMessage{
    background-color: red;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}