<div class="contentMenu">
    <h1 class="listPrice">LISTA DE PRECIOS</h1>
    <div class="boxMenu">
        <h1>Servicio de Manicura</h1>
        <ul>
            <li>Manicura Profesional ........................ $25</li>
            <li>Manicura luxury ................................ $35</li>
            <li>Unas de polygel desde ..................... $45</li>
            <li>Unas Acrilicas desde ........................ $45</li>
            <li>Kapping ............................................ $40</li>
        </ul>
    </div>
    <div class="boxMenu">
        <h1>Servicio de Pedicura</h1>
        <ul>
            <li>Picura Classic ......................................... $25</li>
            <li>Picura mas extension de unas ................ $25</li>
        </ul>
    </div>
    <div class="boxMenu">
        <h1>Servicios Adicionales</h1>
        <ul>
            <li>Remocion ( retiro de acrilico o polygel ) ... $25</li>
            <li>Remocion ( retiro de esmaltado ) ............. $10</li>
            <li>Retoque de esmalte ( cualquier servicio ).  $20</li>
            <li>Mantenimiento ( acrilico/polygel ) desde .. $45</li>
            <li>Decoraciones extras ( por unas ) ............... $2</li>
        </ul>
    </div>
    <div class="contentIcons" >
        <div>
            <img src="../../../../../assets/img/icono-whatsapp.png" /> <a href="https://wa.link/5f9qre">(678) 206-4296</a>
        </div>
        <div>
            <img src="../../../../../assets/img/icono-instagram.png" /> <a href="https://www.instagram.com/dube.nails/">dube.nails</a>
        </div>
    </div>
</div>
