<div class="contentMenu">
    <h1 class="listPrice">LISTA DE PRECIOS</h1>
    <div class="boxMenu">
        <h1>Servicio de Manicura</h1>
        <ul>
            <li routerLink="/agenda">
                <span>Manicura Profesional</span>
                <span>$25</span>
            </li>
            <li routerLink="/agenda"> 
                <span>Manicura luxury </span>
                <span>$35</span>
            </li>    
            <li routerLink="/agenda"> 
                <span>Unas de polygel desde </span>
                <span>$45</span>
            </li>
            <li routerLink="/agenda"> 
                <span>Unas Acrilicas desde </span>
                <span>$45</span>
            </li>
            <li routerLink="/agenda"> 
                <span>Kapping </span>
                <span>$40</span>
            </li>
        </ul>
    </div>
    <div class="boxMenu">
        <h1>Servicio de Pedicura</h1>
        <ul>
            <li routerLink="/agenda">
                <span>Pedicura Classic  </span>
                <span>$25</span>
            </li>
            <li routerLink="/agenda">
                <span>Picura mas extension de unas  </span>
                <span>$25</span>
            </li>
        </ul>
    </div>
    <div class="boxMenu">
        <h1>Servicios Adicionales</h1>
        <ul>
            <li routerLink="/agenda">
                <span>Remocion ( retiro de acrilico o polygel )  </span>
                <span>$25</span>
            </li>
            <li routerLink="/agenda">
                <span>Remocion ( retiro de esmaltado )  </span>
                <span>$10</span>
            </li>
            <li routerLink="/agenda">
                <span>Retoque de esmalte ( cualquier servicio )  </span>
                <span>$20</span>
            </li>
            <li routerLink="/agenda">
                <span>Mantenimiento ( acrilico/polygel ) desde  </span>
                <span>$45</span>
            </li>
            <li routerLink="/agenda">
                <span>Decoraciones extras ( por unas )  </span>
                <span>$2</span>
            </li>
        </ul>
    </div>
    <div class="contentIcons" >
        <div>
            <img src="../../../../../assets/img/icono-whatsapp.png" /> <a href="https://wa.link/5f9qre" style="font-weight: bold;">(678) 206-4296</a>
        </div>
        <div>
            <img src="../../../../../assets/img/icono-instagram.png" /> <a href="https://www.instagram.com/dube.nails/" style="font-weight: bold;">dube.nails</a>
        </div>
    </div>
</div>
