
.app {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    height: 100%;
    padding: 0px;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    app-header{
        width: 100%;
        min-height: 60px;
    }
    app-footer{
        display: flex;
        width: 100%;
        max-height: 80px;
    }
}


.IphoneMenuFooter{
    order: 2;
}

.IphoneMenuContent{
    order: 3;
}

