
.app {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    height: 100vh;
    padding: 0px;
    background-color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.IphoneMenuFooter{
    order: 2;
}

.IphoneMenuContent{
    order: 3;
}

