
.app {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: fd0d0d52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.IphoneMenuFooter{
    order: 2;
}

.IphoneMenuContent{
    order: 3;
}

