    /* padding: 10px; */
    
    .cancelarAgenda{
        padding: 0px;
        margin-top: 10px;
        border-radius: 5px;
        background: #ff0000;
        color: white;
        width: 50%;
        height: 15px;
        font-size: 10px;

    }
   