<nav [class.menuActive]="menu" class="menu" *ngIf="!usuarioActivo;else usuario">

    <ng-container *ngIf="menu ; else menuActive">
        <span (click)="cerrarModal()">x</span>
        <h3>{{tituloMenu}}</h3>
        <div>
            <hr class="lineaMenu">
        </div>
        
        <ul *ngIf="lista">
            <li>
                <a (click)="login()" >Login</a>
            </li>
            <li>
                <a (click)="showRegister()">Registro</a>
            </li>
        </ul>

        <app-registro *ngIf="showRegistro"></app-registro>
        <app-login (userActive)="loginUser($event)" *ngIf="showlogin" > </app-login>
    </ng-container>

    <ng-template #menuActive>
        <div class="menuFalse" (click)="showMenu()">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </ng-template>

</nav>


<ng-template #usuario>
    <nav [class.menuActive]="menu" class="menu" #usuario>

        <ng-container *ngIf="menu ; else menuActive">
            <span (click)="cerrarModal()">x</span>
            <h3>{{tituloMenu}}</h3>
            <div>
                <hr class="lineaMenu">
            </div>
            
            <ul *ngIf="lista">
                <li>
                    <a (click)="actualizarUser()">Subir Foto de Perfil</a>
                </li>
                <li *ngIf="rolUser === 'admin'">
                    <a (click)="RegistrarArticulos()">Registrar Articulo</a>
                </li>
                <li>
                    <a (click)="salir()">Cerrar Sessión</a>
                </li>
            </ul>
            <app-registrar-articulos 
            (success)="cargaArticulo($event)"
            [idUser]="id" *ngIf="showRegistroArticulos" ></app-registrar-articulos>
            <app-actualizar-user
             [idUser]="id"
             (imgUser)="imgUserCargada($event)"  
             *ngIf="showActualizarUser"></app-actualizar-user>
        </ng-container>
    
        <ng-template #menuActive>
            <div class="menuFalse usuario" [class.userImgNone]="!usuarioData.image" (click)="showMenu()">
                <img *ngIf="usuarioData.image" class="usuario" [class.imgGrande]="usuarioData.image"
                [src]="usuarioData.image">
            </div>
            <p *ngIf="!usuarioData.image" class="nombreUser">{{usuarioData.nombre}}</p>
        </ng-template>
    
    </nav>
</ng-template>