<nav [class.menuActive]="menu" class="menu" *ngIf="!usuarioActivo;else usuario">

    <ng-container *ngIf="menu ; else menuActive">
        <span (click)="cerrarModal()">x</span>
        <h3>{{tituloMenu}}</h3>
        <div>
            <hr class="lineaMenu">
        </div>
        
        <ul *ngIf="lista">
            <li>
                <a>Inicio</a>
            </li>
            <li>
                <a (click)="login()" >Login</a>
            </li>
            <li>
                <a (click)="showRegister()">Registro</a>
            </li>
        </ul>

        <app-registro *ngIf="showRegistro"></app-registro>
        <app-login (userActive)="loginUser($event)" *ngIf="showlogin" > </app-login>
    </ng-container>

    <ng-template #menuActive>
        <div class="menuFalse" (click)="showMenu()">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </ng-template>

</nav>


<ng-template #usuario>
    <nav [class.menuActive]="menu" class="menu" #usuario>

        <ng-container *ngIf="menu ; else menuActive">
            <span (click)="cerrarModal()">x</span>
            <h3>{{tituloMenu}}</h3>
            <div>
                <hr class="lineaMenu">
            </div>
            
            <ul *ngIf="lista">
                <li>
                    <a>Inicio</a>
                </li>
                <li>
                    <a (click)="actualizarUser()">Actualizar Perfil</a>
                </li>
                <li>
                    <a (click)="salir()">Cerrar Sessión</a>
                </li>
            </ul>
    
            <app-actualizar-user [idUser]="id"*ngIf="showActualizarUser"></app-actualizar-user>
        </ng-container>
    
        <ng-template #menuActive>
            <div class="menuFalse" [class.userImgNone]="!usuarioData.image" (click)="showMenu()">
                <img class="usuario"[src]="usuarioData.image">
            </div>
            <p class="nombreUser">{{usuarioData.nombre}}</p>
        </ng-template>
    
    </nav>
</ng-template>