<div class="modalGeneric modalP" *ngIf="modalServicios">
    <div class="contenido">
        <div>
            <div class="headerAgenda">
                <h3>Detalle de horas</h3>
                <span (click)="hideModalServicios()">x</span>
            </div>
            <div  *ngFor="let clientes of clienteDetalle; let i = index"
            [class.backgroundBody]="i%2 === 0"    
            >
                <div class="bodyAgenda">
                    <p><strong>Nombre:</strong> {{clientes.nombre}}</p>
                    <p><strong>Servicio:</strong> {{clientes.servicio}}</p>
                    <p><strong>hora:</strong> {{clientes.hora}}:00 - {{clientes.tramo}}:00 </p>
                    <p class="telefono" *ngIf="rol !== 'user' && rol && clientes.telefono">
                    <strong>Telefono: </strong>{{clientes.telefono}} </p>
                    <app-cancelar-hora 
                        *ngIf="rol !== 'user' && rol"
                        [dia]="dia" 
                        [telefono]="clientes.telefono" 
                        [nombre]="clientes.nombre"
                        [botonCancelars]="retornaBoton" 
                        (returnData)="returnData($event)">
                    </app-cancelar-hora>
                </div>
            </div>
            <p class="sinRegistro" *ngIf="clienteDetalle.length === 0">{{sinAgenda}}</p>
        </div>
        <button (click)="modalActive()">AGENDAR</button>
    </div>
    <app-modal-register *ngIf="modalRegisters" [dia]="dia" (registerModal)="hideModalRegister($event)"></app-modal-register>
        
</div>